
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.cv-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cv-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 100%;
}

.cv-left {
    background-color: #40e0d0;
    color: white;
    width: 30%;
    min-width: 280px;
    padding: 20px;
    box-sizing: border-box;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px auto;
    border: 4px solid white;
}

.cv-right {
    width: 70%;
    padding: 30px;
    background-color: #fffaf0;
    box-sizing: border-box;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header h3 {
    font-size: 16px;
    margin-top: 5px;
    color: #666;
}

.section {
    margin-top: 30px;
    
}
.Tentang {
    background-color: #ffffff;
    color: #40e0d0;
    font-weight: bold;
    padding: px px;
    display: block;           
    border-radius: 20;  
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
}
.section h2 {
    background-color: #ffffff;
    color: #40e0d0;
    font-weight: bold;
    padding: 15px 20px;
    display: block;           
    border-radius: 20;  
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
}


hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 10px 0 15px 0;
}

.edu-item, .exp-item {
    margin-bottom: 20px;
}

.year {
    float: right;
    font-size: 13px;
    color: #666;
}

.jurusan, .role {
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 6px;
    font-size: 14px;
}


@media (max-width: 768px) {
    .cv-container {
        flex-direction: column;
    }

    .cv-left, .cv-right {
        width: 100%;
    }

}
